body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text a {
    color: #007bff;
    text-decoration: none;
}

.card-text a:hover {
    text-decoration: underline;
}

.experiencia, .educacion {
    margin-bottom: 20px;
}

h3 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h3 {
    font-style: italic;
}
.main-body {
    background-color: aqua;
}